doctype html
html
  head
    meta(charset='utf-8')
    title 検索
    link(rel="stylesheet",href="/stylesheets/gyazolink.css",type="text/css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script.
      var query = "#{query}";
    script(src="/javascripts/search.js")
  body
    span#topspan 検索:
    | &nbsp;
    input#query(type='text')
    br(clear='all')
