doctype html
html
  head
    meta(charset='utf-8')
    title 類似画像検索
    link(rel="stylesheet",href="/stylesheets/gyazolink.css",type="text/css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script.
      var src = "#{gyazoid}";
    script(src="/javascripts/similar.js")
  body
    span#topspan 検索:
    | &nbsp;
    input#query(type='text')
    br(clear='all')
    img.top#src(height='160pt')
    div#comments(height='160pt')
    br(clear='all')
